<suite name="testsuite1">
    <test name="test1">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="HomePageTest"></class>
           <!-- <class name="functionPackage.HomePage"></class>
            <class name="functionPackage.SearchPage"></class>-->
        </classes>
    </test>
   <!-- <test name="test2">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="OpenBrowserParallel">
            </class>
        </classes>
    </test>-->
</suite>





